<div class="container-index">

  <div class="header">
    <h3>Your Saved Items</h3>
    <h3 class="items-no"><i class="fa-solid fa-bag-shopping"></i><%= current_user.bookmarks.length %></h3>
  </div>

  <div id="item-card">
    <%= render "users/bookmark" %>
  </div>

  <div class="delete-all">
    <% if current_user.bookmarks.any? %>
       <p class="delete-all-btn" style="color: #000000">
        <%= link_to "Unsave all items", destroy_all_bookmarks_path(current_user),
        data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to unsave all items?"}%>
      </p>
    <% else %>
      <h5>Welcome <%= current_user.full_name %>!</h5>
      <div>
        <p>Please save items in your shopping list</p>
        <p style="color: green"><%= notice %></p>
      </div>
      </div>
        <%= image_tag asset_path('vid.gif'), controls: false, autoplay: :autoplay, loop: :loop, :class => "video" %>
      </div>
    <% end %>
  </div>
</div>
