<div class="container-index">
  <div class="header">
    <h3>Your Shopping List</h3>
    <h3 class="items-no"><%= current_user.items.length %><i class="fa-solid fa-bag-shopping"></i></h3>
  </div>

  <div class="top">
    <%= render "items/search" %>
  </div>

  <div class="new-top">
    <%= render "items/form" %>
  </div>

  <div id="item-card">
    <% @items.each do |item| %>
      <%= render "items/draggable", item: item %>
    <% end %>
  </div>

  <div class="delete-all">
    <% if current_user.items.any? %>
      <p class="delete-all-btn" style="color: #000000">
        <%= link_to "Delete all items", destroy_all_items_path(@items),
        data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete all items?"}%>
      </p>
    <% else %>
      <h5>Welcome <%= current_user.full_name %>!</h5>
      <div>
        <p>Please add items to your shopping list</p>
        <p style="color: green"><%= notice %></p>
      </div>
      </div>
        <%= image_tag asset_path('vid.gif'), controls: false, autoplay: :autoplay, loop: :loop, :class => "video" %>
      <div>
    <% end %>
  </div>
</div>
<%= turbo_page_requires_reload %>
