<% if current_user %>
<h3><%= current_user.full_name %>'s Shopping List</h3>

<div class="main-list">
<p><%= link_to "Add Item", "/items/new"  %></p>
  <% @items.each do |item| %>
    <%# <li><%= link_to item.name, items_path(item)  %>
    <li><%= item.name %></li>
    </div>
      <p class="delete-btn" style="color: #000000">
        <%= link_to "", item_path(item),
        data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this item?"},
        class:"fa-solid fa-trash"%>
      </p>
    </div>
  <% end %>
  <% if @items.any? %>
    <p class="delete-btn" style="color: #000000">
      <%= link_to "Delete All", destroy_all_items_path(@items),
      data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete all items?"}%>
    </p>
  <% end %>
</div>

<% else %>
<h3>Shopping List</h3>

<div class="main-list">
<p>Please log in to view your list and add items</p>

</div>

<% end %>
